.blurEffect_top {
  position: fixed;
  top: -100px;
  right: -50px;
  z-index: -1;
}

.blurEffect_bottom {
  position: fixed;
  bottom: -100px;
  left: -50px;
  z-index: -1;
}

@media screen and (max-width: 964px) {
  .blurEffect_top {
    display: none;
  }

  .blurEffect_bottom {
    left: 50%;
    transform: translateX(-50%);
  }
}
